<div class="w-full">
  <div class="d-flex justify-content-between mb-4">
    <span class="fs-3">Customer Details</span>
    <div class="d-flex flex-row gap-2">
      <button class="btn btn-primary" [routerLink]="['../edit', customer.id]">Edit</button>
      <button class="btn btn-danger" (click)="deleteCustomer()">Delete</button>
    </div>
  </div>

  <div>
    <div class="">
      <p><span class="fw-semibold">First name:</span> {{ customer.first_name }}</p>
    </div>
    <div class="">
      <p><span class="fw-semibold">Last name:</span> {{ customer.last_name }}</p>
    </div>
    <div class="">
      <p><span class="fw-semibold">Email:</span> {{ customer.last_name }}</p>
    </div>
    <div class="">
      <p>
        <span class="fw-semibold">Contact number:</span>
        {{ customer.contact_number ?? 'No contact number provided' }}
      </p>
    </div>
  </div>
</div>
