<div class="w-full">
  <div class="d-flex justify-content-between mb-4">
    <span class="fs-3">Customer Details</span>
    <div class="d-flex flex-row gap-2">
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>

  <div>
    <div class="">
      <p><span class="fw-semibold">First name:</span> Test name</p>
    </div>
    <div class="">
      <p><span class="fw-semibold">First name:</span> Test name</p>
    </div>
    <div class="">
      <p><span class="fw-semibold">First name:</span> Test name</p>
    </div>
    <div class="">
      <p><span class="fw-semibold">First name:</span> Test name</p>
    </div>
  </div>
</div>
