<div class="w-full">
  <span class="fs-3 mb-4 d-block">Create Customer</span>

  <form class="">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="firstName" />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastName" />
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Contact number</label>
      <input type="email" class="form-control" id="contactNumber" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
